@{
    var userName = Context.Session.GetString("UserName");
    var userAvatar = Context.Session.GetString("UserAvatar");
    var role = Context.Session.GetString("UserRole");

    string userRole = (role == "D") ? "Doctor" : "Receptionist";
}

<style>
    /* Customize the scrollbar for WebKit browsers (Chrome, Safari) */
    .sidebar {
        overflow-y: scroll;
    }

        /* Hide scrollbar arrows for WebKit (Chrome, Safari) */
        .sidebar::-webkit-scrollbar-button {
            display: none; /* Hides the scrollbar arrows */
        }

        /* Optional: Customize the appearance of the scrollbar track and thumb */
        .sidebar::-webkit-scrollbar {
            width: 8px;
        }

        .sidebar::-webkit-scrollbar-thumb {
            background-color: #ddd; /* Custom scrollbar color */
            border-radius: 10px;
        }

            .sidebar::-webkit-scrollbar-thumb:hover {
                background-color: #555;
            }

        .sidebar::-webkit-scrollbar-track {
            background: #f8f9fa;
        }

        .sidebar .dropdown-menu .active {
            background-color: #eee;
            color: black !important;
        }
</style>

<!-- Sidebar Start -->
<div class="sidebar bg-light pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="@Url.Action("Index", "Dashboard")" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-tooth me-2"></i>DentalCare</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="@userAvatar" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>

            <div class="ms-3">
                <h6 class="mb-0">@userName</h6>
                <span>@userRole</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="@Url.Action("Index", "Dashboard")" class="nav-item nav-link @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Dashboard" && ViewContext?.RouteData?.Values["action"]?.ToString() == "Index" ? "active" : "")"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

            <div class="nav-item dropdown @(userRole == "Doctor" ? "d-none" : "")" id="employeeDropdown">
                <a href="#" class="nav-link dropdown-toggle @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Employee" &&
                                                              (ViewContext?.RouteData?.Values["action"]?.ToString() == "Add" ||
                                                               ViewContext?.RouteData?.Values["action"]?.ToString() == "Manage") ? "active" : "")" data-bs-toggle="dropdown">
                    <i class="fa fa-users me-2"></i>Employee
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a style="padding-left: 50px !important" href="@Url.Action("Add", "Employee")" class="dropdown-item @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Employee" &&
                                                                                                                          ViewContext?.RouteData?.Values["action"]?.ToString() == "Add" ? "active" : "")">Add</a>
                    <a style="padding-left: 50px !important" href="@Url.Action("Manage", "Employee")" class="dropdown-item @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Employee" &&
                                                                                                                             ViewContext?.RouteData?.Values["action"]?.ToString() == "Manage" ? "active" : "")">Manage</a>
                </div>
            </div>

            <div class="nav-item dropdown @(userRole == "Doctor" ? "d-none" : "")" id="shiftDropdown">
                <a href="#" class="nav-link dropdown-toggle @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Shift" &&
                                                              (ViewContext?.RouteData?.Values["action"]?.ToString() == "Add" ||
                                                               ViewContext?.RouteData?.Values["action"]?.ToString() == "Manage") ? "active" : "")" data-bs-toggle="dropdown">
                    <i class="fas fa-calendar me-2"></i>Shift
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a style="padding-left: 50px !important" href="@Url.Action("Add", "Shift")" class="dropdown-item @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Shift" &&
                                                                                                                       ViewContext?.RouteData?.Values["action"]?.ToString() == "Add" ? "active" : "")">Add</a>
                    <a style="padding-left: 50px !important" href="@Url.Action("Manage", "Shift")" class="dropdown-item @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Shift" &&
                                                                                                                          ViewContext?.RouteData?.Values["action"]?.ToString() == "Manage" ? "active" : "")">Manage</a>
                </div>
            </div>

            <div class="nav-item dropdown" id="appointmentDropdown">
                <a href="#" class="nav-link dropdown-toggle @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Appointment" &&
                                                              (ViewContext?.RouteData?.Values["action"]?.ToString() == "Add" ||
                                                               ViewContext?.RouteData?.Values["action"]?.ToString() == "Manage") ? "active" : "")" data-bs-toggle="dropdown">
                    <i class="fa fa-calendar me-2"></i>Appointment
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a style="padding-left: 50px !important" href="@Url.Action("Add", "Appointment")" class="dropdown-item @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Appointment" &&
                                                                                                                             ViewContext?.RouteData?.Values["action"]?.ToString() == "Add" ? "active" : "")">Add</a>
                    <a style="padding-left: 50px !important" href="@Url.Action("Manage", "Appointment")" class="dropdown-item @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Appointment" &&
                                                                                                                                ViewContext?.RouteData?.Values["action"]?.ToString() == "Manage" ? "active" : "")">Manage</a>
                </div>
            </div>
            
            <div class="nav-item dropdown @(userRole == "Doctor" ? "d-none" : "")" id="invoiceDropdown">
                <a href="#" class="nav-link dropdown-toggle @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Invoice" &&
                                                              (ViewContext?.RouteData?.Values["action"]?.ToString() == "Add" ||
                                                               ViewContext?.RouteData?.Values["action"]?.ToString() == "Index") ? "active" : "")" data-bs-toggle="dropdown">
                    <i class="fas fa-file-invoice me-2"></i>Invoice
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a style="padding-left: 50px !important" href="@Url.Action("Add", "Invoice")" class="dropdown-item @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Invoice" &&
                                                                                                                         ViewContext?.RouteData?.Values["action"]?.ToString() == "Add" ? "active" : "")">Add</a>
                    <a style="padding-left: 50px !important" href="@Url.Action("Index", "Invoice")" class="dropdown-item @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Invoice" &&
                                                                                                                           ViewContext?.RouteData?.Values["action"]?.ToString() == "Index" ? "active" : "")">Manage</a>
                </div>
            </div>

            <div class="nav-item dropdown @(userRole == "Doctor" ? "d-none" : "")" id="inventoryDropdown">
                <a href="#" class="nav-link dropdown-toggle @((ViewContext?.RouteData?.Values["controller"]?.ToString() == "Medicine" || ViewContext?.RouteData?.Values["controller"]?.ToString() == "Equipment" || ViewContext?.RouteData?.Values["controller"]?.ToString() == "Technique") && ViewContext?.RouteData?.Values["action"]?.ToString() == "Index" ? "active" : "")" data-bs-toggle="dropdown">
                    <i class="fa fa-box me-2"></i>Inventory
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a style="padding-left: 50px !important" href="@Url.Action("Index", "Medicine")" class="dropdown-item @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Medicine" && ViewContext?.RouteData?.Values["action"]?.ToString() == "Index" ? "active" : "")">Medicine</a>
                    <a style="padding-left: 50px !important" href="@Url.Action("Index", "Technique")" class="dropdown-item @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Technique" && ViewContext?.RouteData?.Values["action"]?.ToString() == "Index" ? "active" : "")">Technique</a>
                    <a style="padding-left: 50px !important" href="@Url.Action("Index", "Equipment")" class="dropdown-item @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Equipment" && ViewContext?.RouteData?.Values["action"]?.ToString() == "Index" ? "active" : "")">Equipment</a>
                </div>
            </div>

            <div class="nav-item dropdown @(userRole == "Receptionist" ? "d-none" : "")" id="prescriptionDropdown">
                <a href="#" class="nav-link dropdown-toggle @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Prescription" &&
                                                              (ViewContext?.RouteData?.Values["action"]?.ToString() == "Add" ||
                                                               ViewContext?.RouteData?.Values["action"]?.ToString() == "Index") ? "active" : "")" data-bs-toggle="dropdown">
                    <i class="fas fa-prescription me-2"></i>Prescription
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a style="padding-left: 50px !important" href="@Url.Action("Add", "Prescription")" class="dropdown-item @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Prescription" &&
                                                                                                                              ViewContext?.RouteData?.Values["action"]?.ToString() == "Add" ? "active" : "")">Add</a>
                    <a style="padding-left: 50px !important" href="@Url.Action("Index", "Prescription")" class="dropdown-item @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Prescription" &&
                                                                                                                                ViewContext?.RouteData?.Values["action"]?.ToString() == "Index" ? "active" : "")">Manage</a>
                </div>
            </div>

            <div class="nav-item dropdown @(userRole == "Receptionist" ? "d-none" : "")" id="mesTechDropdown">
                <a href="#" class="nav-link dropdown-toggle @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "TechSheet" &&
                                                              (ViewContext?.RouteData?.Values["action"]?.ToString() == "Add" ||
                                                               ViewContext?.RouteData?.Values["action"]?.ToString() == "Index") ? "active" : "")" data-bs-toggle="dropdown">
                    <i class="fas fa-syringe me-2"></i>Tech Sheet
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a style="padding-left: 50px !important" href="@Url.Action("Add", "TechSheet")" class="dropdown-item @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "TechSheet" &&
                                                                                                                           ViewContext?.RouteData?.Values["action"]?.ToString() == "Add" ? "active" : "")">Add</a>
                    <a style="padding-left: 50px !important" href="@Url.Action("Index", "TechSheet")" class="dropdown-item @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "TechSheet" &&
                                                                                                                             ViewContext?.RouteData?.Values["action"]?.ToString() == "Index" ? "active" : "")">Manage</a>
                </div>
            </div>

            <div class="nav-item dropdown @(userRole == "Receptionist" ? "d-none" : "")" id="equipmentDropdown">
                <a href="#" class="nav-link dropdown-toggle @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "EquipmentSheet" &&
                                                              (ViewContext?.RouteData?.Values["action"]?.ToString() == "Add" ||
                                                               ViewContext?.RouteData?.Values["action"]?.ToString() == "Index") ? "active" : "")" data-bs-toggle="dropdown">
                    <i class="fas fa-tools me-2"></i>Equip Sheet
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a style="padding-left: 50px !important" href="@Url.Action("Add", "EquipmentSheet")" class="dropdown-item @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "EquipmentSheet" &&
                                                                                                                                ViewContext?.RouteData?.Values["action"]?.ToString() == "Add" ? "active" : "")">Add</a>
                    <a style="padding-left: 50px !important" href="@Url.Action("Index", "EquipmentSheet")" class="dropdown-item @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "EquipmentSheet" &&
                                                                                                                                  ViewContext?.RouteData?.Values["action"]?.ToString() == "Index" ? "active" : "")">Manage</a>
                </div>
            </div>

            <div class="nav-item dropdown @(userRole == "Receptionist" ? "d-none" : "")" id="healthreportDropdown">
                <a href="#" class="nav-link dropdown-toggle @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "HealthReport" &&
                                                              (ViewContext?.RouteData?.Values["action"]?.ToString() == "Add" ||
                                                               ViewContext?.RouteData?.Values["action"]?.ToString() == "Index") ? "active" : "")" data-bs-toggle="dropdown">
                    <i class="fas fa-file-medical me-2"></i>Health Record
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a style="padding-left: 50px !important" href="@Url.Action("Add", "HealthReport")" class="dropdown-item @((ViewContext?.RouteData?.Values["controller"]?.ToString() == "HealthReport" &&
                                                                                                                                ViewContext?.RouteData?.Values["action"]?.ToString() == "Add") ? "active" : "")">Add</a>
                    <a style="padding-left: 50px !important" href="@Url.Action("Index", "HealthReport")" class="dropdown-item @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "HealthReport" &&
                                                                                                                                  ViewContext?.RouteData?.Values["action"]?.ToString() == "Index" ? "active" : "")">Manage</a>
                </div>
            </div>
            <a href="@Url.Action("Index", "Statistic")" class="@(userRole == "Doctor" ? "d-none" : "") nav-item nav-link @(ViewContext?.RouteData?.Values["controller"]?.ToString() == "Statistic" && ViewContext?.RouteData?.Values["action"]?.ToString() == "Index" ? "active" : "")"><i class="fa fa-chart-bar me-2"></i>Statistic</a>
        </div>
    </nav>
</div>
<!-- Sidebar End -->
@section Sidebar
{
    <script>
        function handleDropdownState(dropdownId) {
            const dropdownElement = document.getElementById(dropdownId);

            if (localStorage.getItem('openDropdown') === dropdownId) {
                const dropdown = new bootstrap.Dropdown(dropdownElement.querySelector('.dropdown-toggle'));
                dropdown.show();
            }

            dropdownElement.querySelectorAll('.dropdown-item').forEach(item => {
                item.addEventListener('click', () => {
                    localStorage.setItem('openDropdown', dropdownId);
                });
            });
        }

        document.addEventListener('DOMContentLoaded', function () {
            handleDropdownState('invoiceDropdown');
            handleDropdownState('employeeDropdown');
            handleDropdownState('shiftDropdown');
            handleDropdownState('appointmentDropdown');
            handleDropdownState('prescriptionDropdown');
            handleDropdownState('inventoryDropdown');
            handleDropdownState('mesTechDropdown');
            handleDropdownState('equipmentDropdown');
            handleDropdownState('healthreportDropdown');

            document.querySelectorAll('.nav-link:not(.dropdown-toggle)').forEach(link => {
                link.addEventListener('click', () => {
                    localStorage.removeItem('openDropdown');
                });
            });
        });

        document.querySelectorAll('.dropdown-toggle').forEach(item => {
            item.addEventListener('click', function () {
                const dropdownId = item.closest('.dropdown').id;
                if (localStorage.getItem('openDropdown') === dropdownId) {
                    localStorage.removeItem('openDropdown');
                } else {
                    localStorage.setItem('openDropdown', dropdownId);
                }
            });
        });
    </script>
}
