@model InvoiceDetailViewModel

@{
    Layout = null;
}

<title>Invoice Detail</title>
<link type="text/css" href="~/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="~/fonts/font-awesome/css/font-awesome.min.css">

<link href="~/img/logo.svg" rel="icon">

<!-- Google fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900">

<!-- Custom Stylesheet -->
<link type="text/css" rel="stylesheet" href="~/css/dashboard/Invoice/style.css">

<div class="invoice-2 invoice-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="invoice-inner clearfix">
                    <div class="invoice-info clearfix" id="invoice_wrapper">
                        <div class="invoice-headar">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="invoice-logo">
                                        <!-- logo started -->
                                        <div class="logo">
                                            <h2 class="text-white">DENTALCARE</h2>
                                        </div>
                                        <!-- logo ended -->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="invoice-id">
                                        <div class="info">
                                            <h1 class="inv-header-1">Invoice</h1>
                                            <p class="mb-1">Invoice ID: <span>@Model.Invoice.Id</span></p>
                                            <p class="mb-0">Invoice Date: <span>@Model.Invoice.Date.ToString("dd-MM-yyyy")</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-top">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="invoice-number mb-30">
                                        <h4 class="inv-title-1">Invoice To</h4>
                                        <h2 class="name">@Model.Customer.Name-@Model.Customer.Id</h2>
                                        <p class="invo-addr-1">
                                            @Model.Customer.Phone <br />
                                            @Model.Customer.Email <br />
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="invoice-number mb-30">
                                        <div class="invoice-number-inner">
                                            <h4 class="inv-title-1">Invoice From</h4>
                                            <h2 class="name">@Model.Receptionist.Name-@Model.Receptionist.Id</h2>
                                            <p class="invo-addr-1">
                                                Dental Care  <br />
                                                dentalcare@gmail.com <br />
                                                123, ABC, TP HCM <br />
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Technique detail start -->
                        <div class="invoice-center">
                            <h2>Technique</h2>
                            <div class="table-responsive">
                                <table class="table mb-0 table-striped invoice-table">
                                    <thead class="bg-active">
                                        <tr class="tr">
                                            <th>No.</th>
                                            <th class="pl0 text-start">Item Description</th>
                                            <th class="text-center">Position</th>
                                            <th class="text-center">Price</th>
                                            <th class="text-center">Unit</th>
                                            <th class="text-center">Quantity</th>
                                            <th class="text-end">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.TechDetails != null)
                                        {
                                            int count = 1;
                                            int totalAmount = 0;

                                            foreach (var detail in Model.TechDetails)
                                            {
                                                var techWork = Model.TechWorks.FirstOrDefault(x => x.Id == detail.Techpositionid);
                                                int itemTotal = (techWork?.Price ?? 0) * detail.Quantity;
                                                totalAmount += itemTotal;

                                                <tr class="tr">
                                                    <td>@(count++)</td>
                                                    <td class="pl0 text-start">@techWork?.Techniquename</td>
                                                    <td class="text-center">@techWork?.Name</td>
                                                    <td class="text-center">@techWork?.Price.ToString("N0")</td>
                                                    <td class="text-center">@techWork?.Unit</td>
                                                    <td class="text-center">@detail.Quantity</td>
                                                    <td class="text-center">@itemTotal.ToString("N0")</td>
                                                </tr>
                                            }

                                            int tax = totalAmount * 10 / 100;
                                            int grandTotal = totalAmount + tax;

                                            <tr class="tr">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-center">Total</td>
                                                <td class="text-center">@(totalAmount.ToString("N0"))</td>
                                            </tr>
                                            <tr class="tr">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-center">Tax (10%)</td>
                                                <td class="text-center">@(tax.ToString("N0"))</td>
                                            </tr>
                                            <tr class="tr">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-center text-primary">Grand Total</td>
                                                <td class="text-center" style="font-weight: 600;">@(grandTotal.ToString("N0") + " VND")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Technique detail end -->
                        <!-- Medicine detail start -->
                        <div class="invoice-center">
                            <h2>Medicine</h2>
                            <div class="table-responsive">
                                <table class="table mb-0 table-striped invoice-table">
                                    <thead class="bg-active">
                                        <tr class="tr">
                                            <th>No.</th>
                                            <th class="pl0 text-start">Item Description</th>
                                            <th class="text-center">Price</th>
                                            <th class="text-center">Unit</th>
                                            <th class="text-center">Quantity</th>
                                            <th class="text-center">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.PrescriptionDetails != null)
                                        {
                                            int count = 1;
                                            int totalAmount = 0;

                                            foreach (var detail in Model.PrescriptionDetails)
                                            {
                                                var medicine = Model.Medicines.FirstOrDefault(x => x.Id == detail.Medicineid);
                                                int itemTotal = (medicine?.Price ?? 0) * detail.Quantity;
                                                totalAmount += itemTotal;


                                                <tr class="tr">
                                                    <td>@(count++)</td>
                                                    <td class="pl0 text-start">@medicine?.Name</td>
                                                    <td class="text-center">@(medicine?.Price.ToString("N0"))</td>
                                                    <td class="text-center">@medicine?.Unit</td>
                                                    <td class="text-center">@detail.Quantity</td>
                                                    <td class="text-center">@(((medicine?.Price ?? 0) * detail.Quantity).ToString("N0"))</td>
                                                </tr>
                                            }

                                            int tax = totalAmount * 10 / 100;
                                            int grandTotal = totalAmount + tax;

                                            <tr class="tr">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-center">Total</td>
                                                <td class="text-center">@(totalAmount.ToString("N0"))</td>
                                            </tr>
                                            <tr class="tr">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-center">Tax (10%)</td>
                                                <td class="text-center">@(tax.ToString("N0"))</td>
                                            </tr>
                                            <tr class="tr">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-center text-primary">Grand Total</td>
                                                <td class="text-center" style="font-weight: 600;">@(grandTotal.ToString("N0") + " VND")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Medicine detail end -->

                        <div class="invoice-bottom">
                            <div class="row">
                                <div class="col-lg-6 col-md-5 col-sm-5">
                                    <div class="payment-method mb-30">
                                        <h3 class="inv-title-1" style="font-size: 18px;">Payment Detail</h3>
                                        <ul class="payment-method-list-1" style="font-size: 16px;">
                                            <li><strong>Invoice Total:</strong> @(Model.Invoice.Total.ToString("N0") + " VND")</li>
                                            <li><strong>Discount:</strong> @Model.Invoice.Discount %</li>
                                            <li><strong>Total Due:</strong> @(Model.Invoice.Finaltotal.ToString("N0") + " VND")</li>
                                            <li><strong>Method:</strong> @Model.Invoice.Payment</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-7">
                                    <div class="terms-conditions mb-30">
                                        <h3 class="inv-title-1" style="font-size: 18px;">Thank You</h3>
                                        <p style="font-size: 16px;">Thank you for choosing DentalCare. We appreciate your trust in our services and look forward to serving you again in the future. If you have any questions or feedback, please don't hesitate to contact us.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="invoice-contact clearfix">
                            <div class="row g-0">
                                <div class="col-sm-12">
                                    <div class="contact-info clearfix">
                                        <a href="tel:+55-4XX-634-7071" class="d-flex"><i class="fa fa-phone"></i> +00 123 647 840</a>
                                        <a href="tel:info@themevessel.com" class="d-flex"><i class="fa fa-envelope"></i> info@themevessel.com</a>
                                        <a href="tel:info@themevessel.com" class="mr-0 d-flex d-none-580"><i class="fa fa-map-marker"></i> 169 Teroghoria, Bangladesh</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="invoice-btn-section clearfix d-print-none">
                        <a href="javascript:window.print()" class="btn btn-lg btn-print">
                            <i class="fa fa-print"></i> Print Invoice
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>