@model X.PagedList.IPagedList<Bill>

@{
    Layout = "_DashboardLayout";
}

<style>
    .container-invoice {
        width: 95%;
        background-color: #f8f9fa;
    }

    .container-employee {
        padding-bottom: 6px !important;
    }

    .container-invoice .search {
        top: 6px;
        left: 10px;
    }

    .container-invoice .form-control {
        border: none;
        padding-left: 34px;
    }

        .container-invoice .form-control:focus {
            border: none;
            box-shadow: none;
        }

    .container-invoice .green {
        color: green;
    }

    .container-invoice .bill-id {
        text-decoration: none;
        color: #000;
    }

    .page-header {
        padding-top: 24px;
        padding-left: 32px;
    }

    .table-action tr:hover {
        background-color: #eee;
    }

    .table-action i:hover {
        opacity: 0.5;
    }

    .message {
        position: absolute;
        right: 10px;
        top: 75px;
        z-index: 1051;
        max-width: 500px;
        transition: opacity 1s ease-out;
    }
</style>

<div class="page-header text-primary">
    <div class="page-title">
        <h4>Invoices Management</h4>
    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="message alert alert-success" id="errorMessage">
        <strong>Success:</strong> @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="message alert alert-danger" id="errorMessage">
        <strong>Error:</strong> @TempData["ErrorMessage"]
    </div>
}

<div class="container container-lg mt-4 px-2 mb-4 container-invoice shadow-sm card">
    <div class="p-4 container-employee">
        <div class="mb-2 d-flex justify-content-between align-items-center">

            <div class="position-relative">
                <span class="position-absolute search text-primary"><i class="fa fa-search"></i></span>
                <input class="form-control w-100 fst-italic" placeholder="Search by id, name...">
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-responsive table-borderless table-action">
                <thead>
                    <tr class="bg-light">
                        <th scope="col" width="10%">ID</th>
                        <th scope="col" width="10%">MES</th>
                        <th scope="col" width="7%">Date</th>
                        <th scope="col" width="12%">Receptionist ID</th>
                        <th scope="col" width="15%">Customer</th>
                        <th scope="col" width="10%">Customer ID</th>
                        <th scope="col" width="7%">Payment</th>
                        <th scope="col" width="10%">Total Due</th>
                        <th scope="col" class="text-end" width="5%">Action</th>
                    </tr>
                </thead>
                <tbody style="font-size: 0.9rem !important;">
                    @{
                        if (Model != null)
                        {
                            foreach (var s in Model)
                            {
                                <tr>
                                    <td>@s.Id</td>
                                    <td>@s.Medicalexaminationid</td>
                                    <td>@s.Date.ToString("dd/MM/yyyy")</td>
                                    @{
                                        foreach (var d in ViewBag.Receptionists)
                                        {
                                            if (d.Id == s.Receptionistid)
                                            {
                                                <td>@s.Receptionistid</td>
                                            }
                                        }

                                        foreach (var e in ViewBag.MedicalExams)
                                        {
                                            if (e.Id == s.Medicalexaminationid)
                                            {
                                                foreach (var c in ViewBag.Customers)
                                                {
                                                    if (c.Id == e.Customerid)
                                                    {
                                                        <td>@c.Name</td>
                                                        <td>@c.Id</td>
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    <td>@(s.Payment)</td>
                                    <td>@s.Finaltotal</td>
                                    <td class="text-end">
                                        <a href="@Url.Action("Edit", "Invoice", new { id = s.Id })"><i class="fa fa-edit ms-2 text-primary"></i></a>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <!-- Pagination controls -->
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-md justify-content-center">
                    @if (Model.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1 })" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }

                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                        </li>
                    }

                    @if (Model.HasNextPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1 })" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
        <a href="@Url.Action("Add", "Invoice")" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-plus"></i></a>
    </div>
</div>

<script>
    window.onload = function () {
        var errorMessage = document.getElementById("errorMessage");
        if (errorMessage) {
            setTimeout(function () {
                errorMessage.style.opacity = '0';
            }, 3000);

            setTimeout(function () {
                errorMessage.style.display = 'none';
            }, 6000);
        }
    };
</script>