@model X.PagedList.IPagedList<Techposition>

@{
    Layout = "_DashboardLayout";
}

<style>
    .container-invoice {
        width: 95% !important;
        background-color: #f8f9fa;
    }

    .container-employee {
        padding-bottom: 6px !important;
    }

    .container-invoice .search {
        padding-top: 6px;
        padding-left: 10px;
        border: none;
        background-color: white;
    }

    .container-invoice .form-control {
        border: none;
        padding-left: 34px;
    }

        .container-invoice .form-control:focus {
            border: none;
            box-shadow: none;
        }

    .container-invoice .green {
        color: green;
    }

    .container-invoice .bill-id {
        text-decoration: none;
        color: #000;
    }

    .page-header {
        padding-top: 24px;
        padding-left: 32px;
    }

    .table-action tr:hover {
        background-color: #eee;
    }

    .table-action i:hover {
        opacity: 0.5;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    thead th a {
        text-decoration: none;
        color: #000000;
    }
</style>

<div class="page-header text-primary">
    <div class="page-title">
        <h4>TechWorks Management</h4>
    </div>
</div>

<div class="container container-lg mt-4 px-2 mb-4 container-invoice shadow-sm card">
    <div class="p-4 container-employee">
        <div class="mb-2 d-flex justify-content-between align-items-center">
            <div class="position-relative">
                <form method="get" action="@Url.Action("Index", "Technique")">
                    <div class="position-relative">
                        <button class="position-absolute search text-primary" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <input class="form-control w-100"
                               name="searchQuery"
                               placeholder="Search by id, name..."
                               value="@ViewBag.SearchQuery" />
                        <input type="hidden" name="role" value="@ViewBag.Role" />
                        <input type="hidden" name="sortColumn" value="@ViewBag.SortColumn" />
                        <input type="hidden" name="sortDirection" value="@ViewBag.SortDirection" />
                    </div>
                </form>
            </div>

            <a asp-action="AddTech" asp-controller="Technique" class="btn btn-light fw-bold">Add Technique</a>
        </div>

        <div class="table-responsive">
            <table class="table table-responsive table-borderless table-action">
                <thead>
                <tr class="bg-light">
                        <th scope="col" width="20%">
                            <a asp-action="Index" asp-route-searchQuery="@ViewBag.SearchQuery" asp-controller="Technique" asp-route-sortColumn="ID" asp-route-sortDirection="@ViewBag.NextSortDirection" asp-route-page="@ViewBag.PageNumber">
                                ID
                                @if (ViewBag.SortColumn == "ID")
                                {
                                    <i class="fa ms-2 m-auto @(ViewBag.SortDirection == "asc" ? "fa-sort-up" : "fa-sort-down")"></i>
                                }
                            </a>
                        </th>
                        <th scope="col" width="20%">
                            <a asp-action="Index" asp-route-searchQuery="@ViewBag.SearchQuery" asp-controller="Technique" asp-route-sortColumn="Type" asp-route-sortDirection="@ViewBag.NextSortDirection" asp-route-page="@ViewBag.PageNumber">
                                Type
                                @if (ViewBag.SortColumn == "Type")
                                {
                                    <i class="fa ms-2 m-auto @(ViewBag.SortDirection == "asc" ? "fa-sort-up" : "fa-sort-down")"></i>
                                }
                            </a>
                        </th>
                        <th scope="col" width="20%">
                            <a asp-action="Index" asp-route-searchQuery="@ViewBag.SearchQuery" asp-controller="Technique" asp-route-sortColumn="Name" asp-route-sortDirection="@ViewBag.NextSortDirection" asp-route-page="@ViewBag.PageNumber">
                                Name
                                @if (ViewBag.SortColumn == "Name")
                                {
                                    <i class="fa ms-2 m-auto @(ViewBag.SortDirection == "asc" ? "fa-sort-up" : "fa-sort-down")"></i>
                                }
                            </a>
                        </th>
                        <th scope="col" width="20%">
                            <a asp-action="Index" asp-route-searchQuery="@ViewBag.SearchQuery" asp-controller="Technique" asp-route-sortColumn="Unit" asp-route-sortDirection="@ViewBag.NextSortDirection" asp-route-page="@ViewBag.PageNumber">
                                Unit
                                @if (ViewBag.SortColumn == "Unit")
                                {
                                    <i class="fa ms-2 m-auto @(ViewBag.SortDirection == "asc" ? "fa-sort-up" : "fa-sort-down")"></i>
                                }
                            </a>
                        </th>
                        <th scope="col" width="20%">
                            <a asp-action="Index" asp-route-searchQuery="@ViewBag.SearchQuery" asp-controller="Technique" asp-route-sortColumn="Price" asp-route-sortDirection="@ViewBag.NextSortDirection" asp-route-page="@ViewBag.PageNumber">
                                Price
                                @if (ViewBag.SortColumn == "Price")
                                {
                                    <i class="fa ms-2 m-auto @(ViewBag.SortDirection == "asc" ? "fa-sort-up" : "fa-sort-down")"></i>
                                }
                            </a>
                        </th>
                    <th scope="col" class="text-end" width="7%">Action</th>
                </tr>
                </thead>
                <tbody style="font-size: 0.9rem !important;">
                @{
                    if (Model != null)
                    {
                        foreach (var s in Model)
                        {
                            <tr>
                                <td>@s.Id</td>
                                @{
                                    foreach (var t in ViewBag.Techs)
                                    {
                                        if (s.Techniqueid.Equals(t.Id))
                                        {
                                            <td>@t.Name</td>
                                        }
                                    }
                                }
                                    <td>@s.Name</td>
                                <td>@s.Unit</td>
                                <td>@s.Price</td>
                                <td class="text-end">
                                    <a href="@Url.Action("Edit", "Technique", new { id = s.Id })"><i class="fa fa-edit ms-2 text-primary"></i></a>
                                    <a href="@Url.Action("Delete", "Technique", new { id = s.Id })" onclick="return confirm('Are you sure you want to delete this techwork?');"><i class="fa fa-trash ms-2 text-primary"></i></a>
                                </td>
                            </tr>
                        }
                    }
                }
                </tbody>
            </table>
            <a href="@Url.Action("Add", "Technique")" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-plus"></i></a>
        </div>
        <!-- Pagination controls -->
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-md justify-content-center">
                @if (Model.HasPreviousPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1, sortColumn = ViewBag.SortColumn, sortDirection = ViewBag.SortDirection, searchQuery = ViewBag.SearchQuery })" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }

                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i, sortColumn = ViewBag.SortColumn, sortDirection = ViewBag.SortDirection, searchQuery = ViewBag.SearchQuery })">@i</a>
                    </li>
                }

                @if (Model.HasNextPage)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1, sortColumn = ViewBag.SortColumn, sortDirection = ViewBag.SortDirection, searchQuery = ViewBag.SearchQuery })" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>