@model Appointment

@{
    Layout = "_DashboardLayout";
}

<style>
    .add-invoice .content {
        padding: 20px;
        padding-top: 0px;
        width: 100% !important;
        margin-left: 0 !important;
    }

        .add-invoice .content label {
            padding: 8px;
            padding-left: 2px !important;
        }

    .add-invoice .card-body {
        background-color: #f8f9fa;
    }

    h6 {
        margin-bottom: 0px !important;
    }

    .form-group button {
        background: #fff !important;
        border: #cccccc solid 1px;
        border-radius: 4px;
    }
</style>

<div class="container-fluid mt-4 add-invoice">
    <!-- Use container-fluid or container for better alignment -->
    <div class="content">
        <div class="page-header mb-4 text-primary">
            <div class="page-title">
                <h4>Edit Appointment</h4>
            </div>
        </div>

        <div class="card shadow-sm">
            <div class="card-body">
                <form asp-action="Edit" asp-controller="Appointment" method="post">
                    <div class="row g-3 p-1">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="text-primary">Customer Detail</h6>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12 mt-0">
                            <div class="form-group">
                                <label>Customer Name</label>
                                <input type="text" id="customerName" class="form-control bg-light" placeholder="Customer name" value="@ViewBag.Customer.Name" disabled>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12 mt-0">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="text" id="phone" class="form-control bg-light" placeholder="Customer phone number" value="@ViewBag.Customer.Phone" disabled>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12 mt-0">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" class="form-control bg-light" placeholder="Customer email" value="@ViewBag.Customer.Email" disabled>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-12 mt-0">
                            <div class="form-group">
                                <label for="birthday">Birthday</label>
                                <input type="date" id="birthday" class="form-control bg-light" placeholder="Customer birthday" value="@ViewBag.Customer.Birthday.ToString("yyyy-MM-dd")" disabled>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12  mt-4">
                            <h6 class="text-primary">Doctor Detail</h6>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12 mt-0">
                            <div class="form-group">
                                <label for="faculty">Faculty</label>
                                <select id="faculty" class="form-control select-picker" data-live-search="true" onchange="loadDoctorsByFaculty()" required required>
                                    <option disabled="">Select faculty</option>
                                    @if (ViewBag.Faculties != null)
                                    {
                                        foreach (var f in ViewBag.Faculties)
                                        {
                                            if (f.Id == ViewBag.Doctor.Facultyid)
                                            {
                                                <option value="@f.Id" selected>@f.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@f.Id">@f.Name</option>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <option value="">No Faculties Available</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-12 mt-0">
                            <div class="form-group">
                                <label asp-for="Doctorid">Doctor</label>
                                <select asp-for="Doctorid" id="doctor" class="form-control select-picker" data-live-search="true" title="Select Doctor" required>
                                    <option value="@ViewBag.Doctor.Id" selected>@ViewBag.Doctor.Name</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12  mt-4">
                            <h6 class="text-primary">Appointment Detail</h6>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12 mt-0">
                            <div class="form-group">
                                <label asp-for="Date">Date</label>
                                <input asp-for="Date" type="date" id="date" class="form-control" placeholder="Date" required>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12 mt-0">
                            <div class="form-group">
                                <label asp-for="Time">Time</label>
                                <select id="timeSelect" class="form-control select-picker" data-live-search="true" data-dropup-auto="false" required>
                                    <option selected value="@Model.Time.ToString("HH:mm")">@Model.Time.ToString("HH:mm")</option>
                                </select>
                                <input type="hidden" asp-for="Time" id="hiddenTime"/>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label asp-for="Demand" for="description">Demand Description</label>
                                <textarea asp-for="Demand" id="description" class="form-control" rows="3" required></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 text-end">
                            <button type="submit" class="btn btn-primary me-2">Update</button>
                            <a href="@Url.Action("Manage")" type="reset" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <script>
        $('.select-picker').selectpicker();
    </script>
}

<script>
    function loadDoctorsByFaculty() {
        var facultyId = document.getElementById("faculty").value;

        fetch(`/Appointment/GetDoctorsByFaculty?facultyId=` + facultyId)
            .then(response => response.json())
            .then(data => {
                var doctorSelect = document.getElementById("doctor");
                doctorSelect.innerHTML = ''; // Xóa các option hiện tại

                var selectOption = document.createElement("option");
                selectOption.text = "Select Doctor";
                selectOption.value = "";
                selectOption.selected = true;
                selectOption.disabled = true;
                doctorSelect.appendChild(selectOption);
                // Thêm các bác sĩ mới vào select
                data.$values.forEach(function (doctor) {
                    var option = document.createElement("option");
                    option.value = doctor.id;
                    option.text = doctor.name;
                    doctorSelect.appendChild(option);
                });
                $('.select-picker').selectpicker('refresh');
            })
            .catch(error => console.error('Error:', error));
    }
</script>

<script>
    const timeSelect = document.getElementById('timeSelect');
    const hiddenTime = document.getElementById('hiddenTime');

    for (let hour = 7; hour <= 17; hour++) { // Giới hạn từ 7:00 sáng đến 5:30 chiều
        for (let minute = 0; minute < 60; minute += 30) { // Tăng phút theo từng 30 phút
            const timeOption = document.createElement('option');
            const formattedHour = String(hour).padStart(2, '0'); // Đảm bảo giờ luôn có 2 chữ số
            const formattedMinute = String(minute).padStart(2, '0'); // Đảm bảo phút luôn có 2 chữ số
            const timeValue = `${formattedHour}:${formattedMinute}`;
            timeOption.value = timeValue;
            timeOption.textContent = timeValue;
            timeSelect.appendChild(timeOption);
        }
    }
    $('.select-picker').selectpicker('refresh');

    // Cập nhật giá trị của trường ẩn mỗi khi chọn thời gian
    timeSelect.addEventListener('change', function () {
        hiddenTime.value = timeSelect.value; // Cập nhật giá trị cho trường ẩn
        $('.select-picker').selectpicker('refresh');
    });
</script>
