@model X.PagedList.IPagedList<object>

@{
    Layout = "_DashboardLayout";
}

<style>
    .container-invoice {
        width: 95%;
        background-color: #f8f9fa;
    }

    .container-employee {
        padding-bottom: 6px !important;
    }

        .container-invoice .search {
            padding-top: 6px;
            padding-left: 10px;
            border: none;
            background-color: white;
        }

        .container-invoice .form-control {
            border: none;
            padding-left: 34px;
        }

            .container-invoice .form-control:focus {
                border: none;
                box-shadow: none;
            }

        .container-invoice .green {
            color: green;
        }

        .container-invoice .bill-id {
            text-decoration: none;
            color: #000;
        }

    .page-header {
        padding-top: 24px;
        padding-left: 32px;
    }

    .table-action tr:hover {
        background-color: #ccc;
    }

    .table-action i:hover {
        opacity: 0.5;
    }
</style>

<div class="page-header text-primary">
    <div class="page-title">
        <h4>Employees Management</h4>
    </div>
</div>

<div class="container container-lg mt-4 px-2 mb-4 container-invoice shadow-sm card">
    <div class="p-4 container-employee">
        <div class="mb-2 d-flex justify-content-between align-items-center">
            <form method="get" action="@Url.Action("Manage", "Employee")">
                <div class="position-relative">
                    <button class="position-absolute search text-primary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                    <input class="form-control w-100"
                           name="searchQuery" 
                           placeholder="Search by id, name..." 
                           required/>
                    <input type="hidden" name="role" value="@ViewBag.Role" />
                    <input type="hidden" name="sortColumn" value="@ViewBag.SortColumn" />
                    <input type="hidden" name="sortDirection" value="@ViewBag.SortDirection" />
                </div>
            </form>


            <div class="px-2 d-flex">
                <a asp-action="Add" asp-controller="Faculty" class="btn btn-light fw-bold @(Model is X.PagedList.IPagedList<Doctor> ? "" : "d-none")">Add Faculty</a>
                <div class="nav-item dropdown" id="roleDropdown">
                    <a href="#" class="nav-link dropdown-toggle text-dark fw-bold" data-bs-toggle="dropdown">
                        <i class="fa fa-users me-2"></i>
                        @if (Model is X.PagedList.IPagedList<Doctor>)
                        {
                            <span id="roleText">Doctor</span>
                        }
                        else if (Model is X.PagedList.IPagedList<Nurse>)
                        {
                            <span id="roleText">Nurse</span>
                        }
                        else
                        {
                            <span id="roleText">Receptionist</span>
                        }
                    </a>
                    <div class="dropdown-menu bg-light border-0" style="cursor: pointer">
                        <a class="dropdown-item" href="@Url.Action("Manage", "Employee", new { role = "Doctor" })">Doctor</a>
                        <a class="dropdown-item" href="@Url.Action("Manage", "Employee", new { role = "Receptionist" })">Receptionist</a>
                        <a class="dropdown-item" href="@Url.Action("Manage", "Employee", new { role = "Nurse" })">Nurse</a>
                    </div>
                </div>
            </div>
        </div>

        @if (Model is X.PagedList.IPagedList<Doctor>)
        {
            @Html.Partial("DoctorList", Model as X.PagedList.IPagedList<Doctor>)
        }
        else if (Model is X.PagedList.IPagedList<Nurse>)
        {
            @Html.Partial("NurseList", Model as X.PagedList.IPagedList<Nurse>)
        }
        else
        {
            @Html.Partial("ReceptionistList", Model as X.PagedList.IPagedList<Receptionist>)
        }
    </div>
    <a href="@Url.Action("Add", "Employee")" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-plus"></i></a>
</div>