@model AppointmentViewModel

<style>
    #errorMessage {
        position: fixed;
        bottom: 20px;
        right: 20px;
        max-width: 500px;
        transition: opacity 1s ease-out, transform 0.5s ease-in-out;
        font-size: 1.2rem;
        padding: 15px;
        z-index: 1000;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transform: translateY(20px);
        opacity: 0;
    }

    #errorMessage.show {
        transform: translateY(0);
        opacity: 1;
    }    

    .alert-success {
        background-color: #ffcc80;
        color: #333;
        border-left: 6px solid #ffa726;
    }

    .alert-danger {
        background-color: #ef9a9a;
        color: #fff;
        border-left: 6px solid #e53935;
    }

    .bootstrap-select  {
        height: 100% !important;
    }

    .bootstrap-select .dropdown {
        height: 100% !important;
    }

    .bootstrap-select button {
        height: 100% !important;
        background: #fff !important;
        border: #cccccc solid 1px;
        border-radius: 4px;
        font-weight: normal !important;
        font-family: inherit !important;
    }

    .filter-option {
        display: flex;
        align-items: center;
    }
</style>

<div class="error-message-container">
    @if (ViewBag.Message != null)
    {
        <div class="message @(ViewBag.Error != null && (bool)ViewBag.Error ? "alert alert-danger" : "alert alert-success")" id="errorMessage">
            <strong>@(ViewBag.Error != null && (bool)ViewBag.Error ? "Error:" : "Success:")</strong> @ViewBag.Message
        </div>
    }
</div>

<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3" placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->
<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-5">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Appointment</h1>
            <a href="@Url.Action("Index", "Home")" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="@Url.Action("Appointment", "Home")" class="h4 text-white">Appointment</a>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- Appointment Start -->
<div class="container-fluid bg-primary bg-appointment mb-5 wow fadeInUp" data-wow-delay="0.1s" style="margin-top: 90px;">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-4 py-5">
                <div class="py-5">
                    <h1 class="display-5 text-white mb-4">We Are A Certified and Award Winning Dental Clinic You Can Trust</h1>
                    <p class="text-white mb-0">Eirmod sed tempor lorem ut dolores. Aliquyam sit sadipscing kasd ipsum. Dolor ea et dolore et at sea ea at dolor, justo ipsum duo rebum sea invidunt voluptua. Eos vero eos vero ea et dolore eirmod et. Dolores diam duo invidunt lorem. Elitr ut dolores magna sit. Sea dolore sanctus sed et. Takimata takimata sanctus sed.</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="appointment-form h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn" data-wow-delay="0.6s">
                    <h1 class="text-white mb-4">Make Appointment</h1>
                    <form asp-action="Appointment" asp-controller="Home" method="post">
                        <div class="row g-3">
                            <small id="phoneMessage" class="form-text text-dark"></small>
                            <div class="col-12 col-sm-3">
                                <input asp-for="Phone" id="phone" type="text" class="form-control bg-light border-0" placeholder="Your Phone"  onblur="checkCustomerPhone()" required>
                            </div>
                            <div class="col-12 col-sm-3">
                                <input asp-for="CustomerName" id="customerName" type="text" class="form-control bg-light border-0" placeholder="Your Name"  required>
                            </div>
                            <div class="col-12 col-sm-3">
                                <input asp-for="Email" id="email" type="email" class="form-control bg-light border-0" placeholder="Your Email"  required>
                            </div>
                            <div class="col-12 col-sm-3">
                                <input asp-for="Birthday" id="birthday" type="date" class="form-control bg-light border-0" placeholder="Your Birthday"  required>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select id="faculty" class="form-control select-picker bg-light border-0"  data-live-search="true" onchange="loadDoctorsByFaculty()" required>
                                    <option disabled selected>Select Doctor Faculty</option>
                                    @foreach (var f in ViewBag.Faculties)
                                    {
                                        <option value="@f.Id">@f.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select asp-for="DoctorId" id="doctor" class="form-control select-picker bg-light border-0" data-live-search="true" title="Select Doctor" required>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="date" id="date1" data-target-input="nearest">
                                    <input asp-for="Date" type="date" id="date"
                                           class="form-control bg-light border-0"
                                           placeholder="Appointment Date" data-target="#date1" data-toggle="datetimepicker"  required>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select asp-for="Time" id="timeSelect" class="form-control select-picker time-select bg-light border-0" data-live-search="true" data-dropup-auto="false" title="Select Time" required>
                                </select>
                            </div>
                            <div class="col-12">
                                <div class="description" id="description" data-target-input="nearest">
                                    <textarea asp-for="Demand" type="text"
                                              class="form-control bg-light border-0"
                                              placeholder="Your Demand Description"  required></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-dark w-100 py-3" type="submit"
                                        onclick="return confirm('Do you sure make an appointment?')">
                                    Make Appointment
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->
@section Scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <script>
        $('.select-picker').selectpicker();
    </script>
}

<script>
    const doctorSelect = document.getElementById('doctor');
    const dateInput = document.getElementById('date');
    const timeSelect = document.getElementById('timeSelect');

    dateInput.disabled = true;
    timeSelect.disabled = true;

    doctorSelect.addEventListener('change', () => {
        if (doctorSelect.value) {
            dateInput.disabled = false;
            dateInput.value = null;
            dateInput.classList.remove('bg-light');
            dateInput.classList.add('bg-white');

            timeSelect.disabled = true;
            timeSelect.innerHTML = '';
            $('.time-select').selectpicker('refresh');
        } else {
            dateInput.disabled = true;
            timeSelect.disabled = true;
        }
    });

    // Enable time select when both doctor and date are selected
    dateInput.addEventListener('change', () => {
        if (doctorSelect.value && dateInput.value) {
            timeSelect.disabled = false;

            var doctorId = doctorSelect.value;
            var date = dateInput.value;

            fetch(`/Appointment/GetDoctorFreeTime?doctorId=${doctorId}&date=${date}`)
                .then(response => response.json())
                .then(data => {
                    console.log(data.$values);

                    data.$values.forEach(function (time) {
                        const timeOption = document.createElement('option');
                        timeOption.value = time;
                        timeOption.textContent = time;
                        timeSelect.appendChild(timeOption);
                    });
                    $('.time-select').selectpicker('refresh');
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        } else {
            timeSelect.disabled = true;
        }
    });
</script>

<script>
    function loadDoctorsByFaculty() {
        var facultyId = document.getElementById("faculty").value;

        fetch(`/Appointment/GetDoctorsByFaculty?facultyId=` + facultyId)
            .then(response => response.json())
            .then(data => {
                var doctorSelect = document.getElementById("doctor");
                doctorSelect.innerHTML = '';

                var selectOption = document.createElement("option");
                selectOption.text = "Select Doctor";
                selectOption.value = "";
                selectOption.selected = true;
                selectOption.disabled = true;
                doctorSelect.appendChild(selectOption);
                data.$values.forEach(function (doctor) {
                    var option = document.createElement("option");
                    option.value = doctor.id;
                    option.text = doctor.name;
                    doctorSelect.appendChild(option);
                });
                $('.select-picker').selectpicker('refresh');
            })
            .catch(error => console.error('Error:', error));
    }
</script>

<script>
    function checkCustomerPhone() {
        var phone = document.getElementById("phone").value;
        var phoneMessage = document.getElementById("phoneMessage");
        phoneMessage.textContent = '';

        if (phone.length > 0) {
            fetch(`/Appointment/GetCustomerByPhone?phone=` + phone)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.getElementById("customerName").value = data.customer.name;
                        document.getElementById("email").value = data.customer.email;
                        document.getElementById("birthday").value = data.customer.birthday;

                        phoneMessage.textContent = 'This customer already exists in the system.';
                    } else {
                        phoneMessage.textContent = 'This phone number does not exist in the system.';
                        document.getElementById("customerName").value = "";
                        document.getElementById("email").value = "";
                        document.getElementById("birthday").value = "";
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    phoneMessage.textContent = 'An error occurred while checking the phone number.';
                });
        }
        else {
            document.getElementById("customerName").value = "";
            document.getElementById("email").value = "";
            document.getElementById("birthday").value = "";
        }
    }
</script>

<script>
    window.onload = function () {
        var errorMessage = document.getElementById("errorMessage");
        if (errorMessage) {
            errorMessage.classList.add("show");
            setTimeout(function () {
                errorMessage.style.opacity = 0;
            }, 5000); // Tự động ẩn sau 5 giây
        }
    }
</script>