@model List<Techposition>

@{
    var techTypes = ViewBag.Techniques as List<Technique>;
}

<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Pricing</h1>
            <a href="@Url.Action("Index", "Home")" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="@Url.Action("Pricing", "Home")" class="h4 text-white">Pricing</a>
        </div>
    </div>
</div>

<!-- Pricing Start -->
<div class="container-fluid py-5 wow fadeInUp mb-4" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5 mb-4">
            <div class="col-12">
                <div class="form-group w-50 mx-auto">
                    <h3 class="form-label">Select Technique</h3>
                    <select id="technique-type" class="form-control bg-light p-3" required>
                        <option selected disabled>Select Technique</option>
                        <option value="all">All</option>
                        @if (ViewBag.Techniques != null)
                        {
                            foreach (var type in ViewBag.Techniques)
                            {
                                <option value="@type.Id">@type.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="section-title mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">Pricing Plan</h5>
                    <h1 class="display-5 mb-0">We Offer Fair Prices for Dental Treatment</h1>
                </div>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo eirmod magna dolore erat amet</p>
                <h5 class="text-uppercase text-primary wow fadeInUp" data-wow-delay="0.3s">Call for Appointment</h5>
                <h1 class="wow fadeInUp" data-wow-delay="0.6s">+012 345 6789</h1>
            </div>
            <div id="carouselExampleControls" class="carousel slide col-lg-7" data-bs-ride="carousel">
                <div class="carousel-inner price-carousel zoomIn" data-wow-delay="0.9s">
                    @if (Model != null && Model.Any())
                    {
                        bool isFirst = true;
                        foreach (var tech in Model)
                        {
                            <div class="carousel-item @(isFirst ? "active" : "") price-item pb-4 w-100">
                                <div class="position-relative d-flex justify-content-center align-items-center">
                                    <img class="img-fluid rounded-top" src="@tech.Image" alt="" style="width: 500px !important; height: 300px !important;">
                                    <div class="d-flex align-items-center justify-content-center bg-light rounded pt-2 px-3 position-absolute top-100 start-50 translate-middle" style="z-index: 2;">
                                        <h2 class="text-primary m-0">@tech.Price.ToString("N0") / @tech.Unit</h2>
                                    </div>
                                </div>
                                <div class="position-relative text-center bg-light border-bottom border-primary py-5 p-4">
                                    <h4>@tech.Techniquename</h4>
                                    <h6>@tech.Name</h6>
                                    <hr class="text-primary w-50 mx-auto mt-0">
                                    <div class="d-flex justify-content-between mb-3"><span>Modern Equipment</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <div class="d-flex justify-content-between mb-3"><span>Professional Dentist</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <div class="d-flex justify-content-between mb-2"><span>24/7 Call Support</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <a href="@Url.Action("TechDetail", "Home", new { id = @tech.Id })" class="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Detail</a>
                                </div>
                            </div>
                            isFirst = false;
                        }
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon rounded d-flex align-items-center justify-content-center" style="background: #0d6efd !important; width: 40px; height: 40px;">
                        <i class="fas fa-arrow-left text-white"></i>
                    </span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon rounded d-flex align-items-center justify-content-center" style="background: #0d6efd !important; width: 40px; height: 40px;">
                        <i class="fas fa-arrow-right text-white"></i>
                    </span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Pricing End -->

<script>
    var typeSelect = document.getElementById("technique-type");

    typeSelect.addEventListener('change', () => {
        var techId = document.getElementById("technique-type").value;
        
        window.location.href = `/Home/Pricing?typeId=${techId}`
    });
</script>