@model Techposition

<style>
    .rich-text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .rich-text-content img {
        max-width: 100%; /* Đảm bảo hình ảnh không vượt quá vùng chứa */
        height: auto; /* Giữ nguyên tỷ lệ ảnh */
    }

    .rich-text-content > * {
        margin-bottom: 16px !important;
    }


</style>

<!-- Pricing Start -->
<div class="container-fluid py-5 wow fadeInUp mb-4" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5 mb-4">
            <div class="col-lg-5">
                <div class="section-title mb-4">
                    <h5 class="position-relative d-inline-block text-primary text-uppercase">Technique Details</h5>
                    <h5 class="display-5 mb-0">@Model.Techniquename</h5>
                    <h5>@Model.Name</h5>
                </div>
                <h2 class="mb-4">@Model.Price.ToString("N0") VNĐ / @Model.Unit</h2>
                <h5 class="text-uppercase text-primary wow fadeInUp" data-wow-delay="0.3s">Call for Appointment</h5>
                <h1 class="wow fadeInUp" data-wow-delay="0.6s">+012 345 6789</h1>
            </div>
            <div class="col-7 tech-detail">
                <div class="rich-text-content">
                    @Html.Raw(Model.Detail)
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Pricing End -->